<!DOCTYPE html>
<html>
  <head>
    <title>Golf Practice Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Golf Practice Tracker!!<h1>

    <h3>Log all of you practice sessions!</h3>
    <%= yield %>
  </body>
</html>
